---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Logos from "../components/Logos.astro";
---

<Layout title="Latitude | The full-stack framework for embeded analytics">
  <main class="bg-black">
    <Header />

    <Hero />
    <Logos />
    <Footer />
  </main>
</Layout>
