<header class="sticky top-0 z-50 backdrop-blur-xl bg-black/70">
  <div class="max-w-6xl mx-auto px-6 py-6">
    <div class="flex flex-row items-center justify-between">
      <a href="/">
        <img src="logo.svg" alt="Latitude Logo" class="h-8 w-auto" />
      </a>
      <div class="flex items-center space-x-4">
        <span class="pt-1.5 pr-2">
          <a
            class="github-button"
            href="https://github.com/latitude-dev/latitude"
            data-color-scheme="no-preference: dark;"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star latitude-dev/latitude on GitHub">Star</a
          >
        </span>
        <a
          href="https://github.com/latitude-dev/latitude?tab=readme-ov-file#-quick-start"
          target="_blank"
        >
          <button
            class="rounded-lg px-6 py-1 transition-all text-blue-500 bg-gradient-to-b from-blue-500/20 to-blue-400/20 hover:to-blue-400/30 ring-1 ring-blue-400/50 hover:ring-blue-400/60"
            >Get started
          </button>
        </a>
        <a
          href="https://docs.latitude.so/guides/getting-started/introduction"
          target="_blank"
        >
          <button
            class="rounded-lg px-6 py-1 transition-all text-white bg-gradient-to-b from-white/10 to-white/20 hover:to-white/30 ring-1 ring-white/50 hover:ring-white/60"
            >Read docs
          </button>
        </a>
      </div>
    </div>
  </div>
</header>

<script async defer src="https://buttons.github.io/buttons.js"></script>
