<section>
  <div class="max-w-6xl mx-auto px-6 pt-20 pb-8 relative">
    <h1 class="text-7xl text-white leading-[80px] max-w-4xl relative">
      The full-stack framework for
      <span class="inline-flex flex-col h-[80px] overflow-hidden text-left">
        <ul class="text-slide">
          <li
            class="bg-gradient-to-r from-blue-400 via-blue-600 to-indigo-200 bg-clip-text text-transparent"
          >
            embeded analytics.
          </li>
          <li
            class="bg-gradient-to-r from-rose-600 via-red-600 to-pink-700 bg-clip-text text-transparent"
          >
            data applications.
          </li>
          <li
            class="bg-gradient-to-r from-yellow-500 via-orange-600 to-yellow-400 bg-clip-text text-transparent"
          >
            BI dashboards.
          </li>
          <li
            class="bg-gradient-to-r from-blue-400 via-blue-600 to-indigo-200 bg-clip-text text-transparent"
            aria-hidden="true"
          >
            embeded analytics.
          </li>
        </ul>
      </span>
    </h1>
    <p class="text-gray-300 text-lg max-w-xl py-6">
      The Open Source Framework to build high-quailty data apps on top of your
      database or warehouse with the tools you already love.
    </p>
    <div class="flex items-center space-x-4">
      <a
        href="https://github.com/latitude-dev/latitude?tab=readme-ov-file#-quick-start"
        target="_blank"
      >
        <button
          class="rounded-lg px-6 py-1 transition-all text-blue-500 bg-gradient-to-b from-blue-500/20 to-blue-400/20 hover:to-blue-400/30 ring-1 ring-blue-400/50 hover:ring-blue-400/60"
          >Get started
        </button>
      </a>
      <a
        href="https://docs.latitude.so/guides/getting-started/introduction"
        target="_blank"
      >
        <button
          class="rounded-lg px-6 py-1 transition-all text-white bg-gradient-to-b from-white/10 to-white/20 hover:to-white/30 ring-1 ring-white/50 hover:ring-white/60"
          >Read docs
        </button>
      </a>
    </div>
    <div
      class="absolute bottom-1/2 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f80_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f80_1px,transparent_1px)] bg-[size:40px_60px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
    >
    </div>
  </div>
  <div class="max-w-6xl mx-auto">
    <img
      class="z-20"
      src="https://framerusercontent.com/images/D65GfHYooldGJ23jo814DJEuuO0.png"
      alt=""
    />
  </div>
</section>

<style is:global>
  .text-slide {
    animation: text-slide 7s cubic-bezier(0.83, 0, 0.17, 1) infinite;
  }

  @keyframes text-slide {
    0%,
    26.66% {
      transform: translateY(0%);
    }
    33.33%,
    60% {
      transform: translateY(-25%);
    }
    66.66%,
    93.33% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(-75%);
    }
  }
</style>
